#login, input#email, #header, #postgame {
  text-align: center;
  font-family: Verdana, sans-serif;
}

#login {
  margin-top: 30vh;
}

#loading {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100%;
  width: 20vw;
}

#error {
  margin: auto;
  margin-bottom: 2vh;
  background-color: red;
  color: white;
  width: 40vw;
}
input#email {
  padding: 1vh;
  width: 50vw;
  margin: 2vh;
}
button {
  padding: 1vh;
}

#header {
  display: flex;
  margin: auto;
  margin-bottom: 2vh;
}

#header > button {
  width: 50%;
}

#turnCounter {
  width: 50%;
  align-self: center;
}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
}
#board {
  margin: auto;
}

.square {
  font-size: 10vh;
  font-family: Verdana, sans-serif;
  width: 25vh;
  height: 25vh;
}

.highlighted {
  background-color: lightpink;
}

#victory {
  margin-top: 2vh;
}

@media only screen and (min-height: 720px) {
  label { font-size: 3vh; }
  button { font-size: 2vh; }
  #email { font-size: 3vh; }
  #turnCounter { font-size: 2vh; }
  #victory { font-size: 2vh; }
}

@media only screen and (min-width: 720px) {
  #header {
    width: 30%;
  }
}