table, th {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  width: 25vh;
  height: 25vh;
}

#login {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 30vh;
}

#error {
  margin: auto;
  margin-bottom: 2vh;
  background-color: red;
  color: white;
  width: 40vw;
}
input#email {
  padding: 1vh;
  width: 50vw;
  text-align: center;
  margin: 2vh;
}
button {
  padding: 1vh;
}

.square {
  font-size: 10vh;
  font-family: Verdana, sans-serif;
}

@media only screen and (min-width: 768px) {
  label { font-size: 3vh; }
  button { font-size: 2vh; }
  #email { font-size: 3vh; }
}